<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GUAU&MIAU</title>
</head>

<body>
    <div class="NavBar">
        <a href="index.html">Home</a>
        <a href="productos.html">Guau&Miau</a>
        <a href="contacto.html">Iniciar Sesion</a>
    </div>
    <div class="Container">
        <div class="FormularioRegistro">
            <form>
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <input type="submit" value="Iniciar Sesion">

            </form>
        </div>
    </div>

</body>

</html>